body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.limitar-secao {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.topo {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: azure;
}

.container-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  color: #3d3d3d;
}

.topo a {
  text-decoration: none;
}

.parte01 {
  flex: 1 0 60%;
}

.parte01 a {
  font-size: 24px;
  text-decoration: none;
  color: #3d3d3d;
}

.parte01 span {
  color: #6592c9;
}

.parte02 {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex: 1 0 150px;
}

.parte02 a {
  color: #3d3d3d;
}
/*fim topo*/

.banner {
  background-image: url("/missao08/assets/img-fundo.jpg");
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background-position: center;
  background-size: cover;
  /*a imagem de fundovai cobrir todo o elemento pai*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-banner {
  background-color: #34a78e93;
  width: 550px;
  height: 220px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  box-shadow: 0px 5px 30px 10px #22977e;
  border-radius: 10px;
  border: 1px solid #fff;
}
/*fim banner*/

.container02 {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container02 h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #3d3d3d;
}

.container02 p {
  line-height: 5px;
  color: #3d3d3d;
}
/*fim do container de bem-vindo*/

.container-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.quartos img {
  width: 100%;
  margin-bottom: 10px;
  color: #3d3d3d;
  box-shadow: 0px 5px 30px 10px #c8f3ea;
}

.quartos p {
  text-align: center;
}

.quartos a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 22px;
}

.quartos {
  flex: 1 0 250px;
  padding-bottom: 10px;
  border-bottom: 2px solid #00836a;
  padding-left: 10px;
  padding-right: 10px;
}

/*fim*/

.container-cards {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 0;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  text-align: left;
  background-color: #f1f1f1;
  flex: 1 0 350px;
  border: 2px solid rgba(255, 255, 255, 0.685);
  margin: 10px;
  box-shadow: 0px 5px 30px 10px #c8f3ea;
}

.cards-descricao {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-imagem {
  width: 30%;
  height: 100%;
}

.cards-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-descricao p {
  text-align: justify;
}
/*fim*/

.rodape {
  background-color: #49997d;
  color: #fff;
  margin-top: 15px;
}

.container-info {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-info-rodape {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info-rodape h4 {
  font-size: 22px;
}

.card-info-rodape a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.card-info-rodape p {
  margin-left: 10px;
}

.card-info-rodape img {
  width: 40px;
  height: 40px;
}

.container-copright {
  padding: 20px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #3b7863;
}
