* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*config geral textos*/
.texto {
    text-align: justify;
    font-family: "Fraunces", serif;
    color: #666;
    padding: 80px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
}
.texto h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}
.texto p{
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: "Lato", "sans-serif";
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}

.paralax01, .paralax02, .paralax03, .paralax04 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
}


.topo {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #604829;
    height: 80px;
}
.topo img {
    position: relative;
    width: 80px;
    height: auto;
    left: 15%;

}
.link {
    position: absolute;
    top: 35%;
    right: 15%;
}
.link a {
    text-decoration: none;
    color: #c4a47c;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-shadow: 3px 5px 2px #000000;
    margin-right: 20px;
}

.paralax01 {
    background-image: url("/projeto05/assets/parallax-imagem1.png");
    height: 100vh;
}
.paralax01 h1 {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: "Fraunces", serif;
    font-weight: 400;
}

.paralax02 {
    background-image: url("/projeto05/assets/parallax-imagem2.jpg");
    height: 50vh;
}

.paralax02 h3, .paralax03 h3{
    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;
    width: 500px;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;
    background-color: #604829;
    color: #fff;
}

.paralax03 {
    background-image: url("/projeto05/assets/parallax-imagem3.jpg");
    height: 50vh;
}

.paralax04 {
    background-image: url("/projeto05/assets/parallax-imagem4.png");
    height: 100vh;
}
.paralax04 h2{
    width: 500px;
    padding: 10px;
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    background-color: #604829;
}

.paralax04 iframe {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
}

.contato {
    position: absolute;
    width: 500px;
    padding: 10px;
    bottom: 8%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #604829;
}
.contato p {
    color: white;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}

.paralax05 {
    background-image: url("/projeto05/assets/cafeteria.jpg");
    height: 85vh;
}
.paralax05 h2 {
    position: relative;
    margin: 0 auto;
    top: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.lista {
    max-width: 768px;
    position: relative;
    margin: 0 auto;
    bottom: 20%;
    top: 30%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    list-style: none;
}
.lista li {
    position: relative;
}
.lista li h3 {
    margin-bottom: 20px;
    color: #fff;
}
.lista li {
    color: #ACACAC;
}
.lista li div {
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #ACACAC;
}
.lista li p, .marrom{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}
.marrom {
    color: #c4a47c;
}

footer {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}
footer span {
    color: #c4a47c;
}